# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
out
build
dist

# Data (gitignore to avoid committing company files)
data/
tmp/

# Env
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
